[submodule "wallpapers"]
	path = wallpapers
	url = https://gitlab.com/motortruck1221/wallpapers
[submodule "private-flakes"]
	path = private-flakes
	url = git@github.com:motortruck1221/private-flakes
