[user]
name = MotorTruck1221
email = motortruck1221@protonmail.com
username = motortruck1221

[init]
defaultBranch = main

[core]
editor = nvim

[commit]
gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
